body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#container {
    background-image: url("../assets/images/oceanPix.jpg");
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
}

#header {
    height: 20vh;
}

.ocean-info {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.info-button {
    height: 5em;
    width: 5em;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
	animation: info-button 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-iteration-count: infinite;
}

@keyframes info-button{0%{transform:translateY(0)}50%{transform:translateY(-40px)}100%{transform:translateY(0)}}

.info-button-icon {
    font-size: 5em;
    color: #82ccdd;
    transform: rotate(0deg);
}

.info-button-icon--up {
    transform: rotate(180deg);
}

.info-popup {
    position: absolute;
    width: 50%;
    color: white;
    bottom: -30em;
    transition: all 1s;
}

.info-popup-up {
    bottom: 0em;
}

#footer {
    height: 10vh;
}

.menu-list {
    margin: 0;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding: 2em;
    font-size: 1.3em;
}

.list-item {
    cursor: pointer;
    transition: all 1s;
}

.list-item:hover {
    color: #82ccdd;
    list-style: square;
}

.burger-button {
    display: none;
}

@media (max-width: 1250px) { 
    .burger-button {
        margin-left: 1em;
        width: 5em;
        height: 5em;
        padding: 0;
        border: 0;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        background: none;
    }
    
    .burger-bar {
        width: 90%;
        height: 10%;
        background-color: grey;
        transition: all 1s;
    }
    
    .burger-bar:nth-child(2) {
        width: 70%;
    }

    
    .burger-button--close {
        position: absolute;
        transition: all 1s;
    }

    .burger-bar--close:nth-child(1) {
        transform: translateY(25px) rotate(45deg);
    }

    .burger-bar--close:nth-child(3) {
        transform: translateY(-20px) rotate(-45deg);
    }

    .burger-bar--close:nth-child(2) {
        transform: translateX(-100px);
    }

    .menu {
        position: absolute;
        left: -10em;
        transition: all 1s;
        height: 100vh;
    }

    .menu--display {
        left: 0;
    }

    .menu-list {
        height: 70%;
        flex-direction: column;
        justify-content: space-around;
    }

    .info-popup {
        width: 80%;
    }
}

@media (max-width: 799px) {
    .info-popup {
        font-size: 0.8em;
    }
}

@media (max-width: 599px) {
    .info-popup {
        font-size: 0.6em;
    }
}